
#root{
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    gap: 50px;  
}
nav { 
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
    padding: 0px 20px;
}

nav > ul {
  list-style-type: none;
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
nav > ul > li {
  margin: 0 15px;
}
.hero-section {
  text-align: center;
  padding: 50px;
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    gap: 5px;

}

.hero-section img {
  max-width: 50%;
  height: auto;
  margin-top: 20px;
}

.hero-section div {
  min-height: 400px;
} 

li a {
  text-decoration: none;
  color: #333;
}

.items-page {
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    padding: 20px;
    gap: 20px;
}

.selected {
  color: rgb(247, 247, 247);
  background-color: #b2a793;
  padding: 2px 5px;
  border-radius: 5px;
}

.product-list {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}

.product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: small;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}